@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
    --primary-bright-orange: hsl(31, 77%, 52%);
    --primary-dark-cyan: hsl(184, 100%, 22%);
    --primary-very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs-transparent-white: hsla(0, 0%, 100%, 0.75);
    --backgroundHeadingButtons-very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--backgroundHeadingButtons-very-light-gray);
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*  */
    min-height: 10em;
    width: 63.5em;
    margin: 4em 0em;
}

/* Section */

.sedans-sect {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--primary-bright-orange);
    padding: 3.6em;
}

.suvs-sect {
    background-color: var(--primary-dark-cyan);
    padding: 3.6em;
}

.luxury-sect {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-very-dark-cyan);
    padding: 3.6em;
}

/* End Section */

h2 {
    font-family: "Big Shoulders Display", cursive;
    color: var(--backgroundHeadingButtons-very-light-gray);
    font-weight: 700;
    font-size: 3rem;
    margin-top: 1em;
}

.sedans-head,
.luxury-head {
    text-transform: uppercase;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: var(--paragraphs-transparent-white);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 3em;
    margin-bottom: 6em;
    line-height: 1.8;
}

/* Learn Button */

.learn-butt-sedans {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--backgroundHeadingButtons-very-light-gray);
    padding: 0.9em 2em;
    border: 0.1em;
    border-style: solid;
    border-color: var(--backgroundHeadingButtons-very-light-gray);
    border-radius: 3em;
    color: var(--primary-bright-orange);
}

.learn-butt-sedans:hover {
    background-color: var(--primary-bright-orange);
    color: var(--backgroundHeadingButtons-very-light-gray);
}

.learn-butt-sedans:focus-visible {
    background-color: var(--primary-bright-orange);
    color: var(--backgroundHeadingButtons-very-light-gray);
    outline: none;
}

.learn-butt-suvs {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--backgroundHeadingButtons-very-light-gray);
    padding: 0.9em 2em;
    border: 0.1em;
    border-style: solid;
    border-color: var(--backgroundHeadingButtons-very-light-gray);
    border-radius: 3em;
    color: var(--primary-dark-cyan);
}

.learn-butt-suvs:hover {
    background-color: var(--primary-dark-cyan);
    color: var(--backgroundHeadingButtons-very-light-gray);
}

.learn-butt-suvs:focus-visible {
    background-color: var(--primary-dark-cyan);
    color: var(--backgroundHeadingButtons-very-light-gray);
    outline: none;
}

.learn-butt-luxury {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--backgroundHeadingButtons-very-light-gray);
    padding: 0.9em 2em;
    border: 0.1em;
    border-style: solid;
    border-color: var(--backgroundHeadingButtons-very-light-gray);
    border-radius: 3em;
    color: var(--primary-very-dark-cyan);
}

.learn-butt-luxury:hover {
    background-color: var(--primary-very-dark-cyan);
    color: var(--backgroundHeadingButtons-very-light-gray);
}

.learn-butt-luxury:focus-visible {
    background-color: var(--primary-very-dark-cyan);
    color: var(--backgroundHeadingButtons-very-light-gray);
    outline: none;
}

/* End Learn Button */

/* Attribution */

.attribution {
    font-size: 0.9rem;
    text-align: center;
}
.attribution a {
    color: var(--primary-dark-cyan);
    text-decoration: none;
}
