@page
@model RazorPizzeria.Pages.Form.CustomPizzaModel
@{
}

<div class="container">
    <h1>Create Your Own Pizza</h1>
    <form method="post">

        <input type="text" asp-for="Pizza.PizzaName" placeholder="Give your pizza name" /> <br />
        <input type="checkbox" asp-for="Pizza.TomatoSauce" placeholder="Tomato Sauce" />  Tomato Sauce<br />
        <input type="checkbox" asp-for="Pizza.Cheese" placeholder="Cheese" />  Cheese<br />
        <input type="checkbox" asp-for="Pizza.Peperoni" placeholder="Peperoni" />  Peperoni<br />
        <input type="checkbox" asp-for="Pizza.Mushroom" placeholder="Mushroom" />  Mushroom<br />
        <input type="checkbox" asp-for="Pizza.Tuna" placeholder="Tuna" />  Tuna<br />
        <input type="checkbox" asp-for="Pizza.Pineapple" placeholder="Pineapple" />  Pineapple<br />
        <input type="checkbox" asp-for="Pizza.Ham" placeholder="Ham" />  Ham<br />
        <input type="checkbox" asp-for="Pizza.Beef" placeholder="Beef" />  Beef<br />
        <input type="checkbox" asp-for="Pizza.Vegetarian" placeholder="Vegetarian" />  Vegetarian<br />

        <button type="submit" class="btn btn-primary">Order My Pizza</button>
    </form>
</div>
