@page "/superheroes"
@using SuperHerores.Shared
@inject ISuperheroService SuperheroService
@inject NavigationManager NavigationManager

<h3>Superheroes</h3>

<table class="table table-sm">

    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Superhero Name</th>
            <th>Comic</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var hero in SuperheroService.Heroes)
    {
        <tr>
            <td>@hero.FirstName</td>
            <td>@hero.LastName</td>
            <td>@hero.HeroName</td>
            <td>@hero.Comic?.Name</td>
            <td><button class="btn" @onclick="() => { ShowHero(hero.Id); }"><i class="oi oi-pencil"></i></button></td>
        </tr>
    }

</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        await SuperheroService.GetSuperhero();
    }

    internal void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"/hero/{id}");
    }
}

