@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Open+Sans:wght@300;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.img-qrcode {
    border-radius: 15px;
}

.text-paragraph {
    margin-top: 1em;
    font-size: 1.1rem;
    max-width: 230px;
    text-align: center;
    font-family: "Dongle", sans-serif;
    font-family: "Open Sans", sans-serif;
}

footer {
    /* margin-top: 10em; */
    margin-top: 10vh;
}

footer a {
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}
