@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Open+Sans:wght@300;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.outer-container {
    /* margin: 10% 25% 0% 25%; */
    height: 435px;
    width: 260px;
    margin: 40px auto;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.img-qrcode {
    margin-top: 15px;
    border-radius: 15px;
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.text-paragraph {
    margin: 15px auto auto auto;
    font-size: 15px;
    width: 210px;
    font-family: "Dongle", sans-serif;
    font-family: "Open Sans", sans-serif;
}

#text-description {
    font-weight: 700;
}

#text-scanQR {
    font-weight: 400;
}
