@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background Color */

.card-bg-color {
  background-color: hsl(225, 100%, 98%);
}

.main-bg-color {
  background-color: hsl(225, 100%, 94%);
}

.butt-bg-color {
  background-color: hsl(245, 75%, 52%);
}

.white-bg-color {
  background-color: white;
}

/* Text Color [Static] */

.butt-text-color {
  color: hsl(245, 75%, 52%);
}

.card-text-color {
  color: hsl(225, 100%, 98%);
}

.header-text-color {
  color: hsl(223, 47%, 23%);
}

.paragraph-text-color {
  color: hsl(224, 23%, 55%);
}

/* Text Color [Hover] */

.dark-blue-hover:hover {
  color: hsl(223, 47%, 23%);
}

/* Background Color [Hover] */
.butt-hover-bg:hover {
  background-color: hsl(245, 83%, 68%);
}

.butt-hover-text:hover {
  color: hsl(245, 83%, 68%);
}

.main-background {
  background: url("/images/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vh;
}

/* Font */

.red-hat-font {
  font-family: "Red Hat Display", sans-serif;
}

/* Font Size */

.font-head {
  font-size: 1.75rem;
}

.font-sub-head {
  font-size: 1.25rem;
}

.font-paragraph {
  font-size: 1rem;
}

/* Weight */

.font-weigth-header {
  font-weight: 900;
}

.font-weight-sub-header {
  font-weight: 700;
}

.font-weight-paragraph {
  font-weight: 500;
}

/* Arrange Item */

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.center-item-no-wh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-left-right-space-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.scale-down {
  transform: scale(0.9, 0.9);
}

/* Responsive Image */

.res-img {
  width: 100%;
  height: auto;
}

/* Border */

.round-border-tl-tr {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.round-border-bl-br {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* Decoration A */

.remove-decoration {
  text-decoration: none;
}

.remove-decoration-hov:hover {
  text-decoration: none;
}

/* Display */
.block {
  display: block;
}

/* Box Shadow */

.shadow-bottom {
  box-shadow: 0 1.5em 1.5em 0em hsl(225, 100%, 94%);
}

/* custom width */

.fx-width {
  max-width: 28em;
}

/* Margin */

.mg-bottom {
  margin-bottom: 2em;
}

.small-mg-r {
  margin-right: 1em;
}

/* Padding */

.small-pd {
  padding: 1em;
}

.mid-pd {
  padding: 2em;
}

.pd {
  padding: 3em;
}
