/* Base */

/* Components */
@import "./components/button.css";
@import "./components/input.css";
@import "./components/warning.css";

/* Utilities */
@import "./utils/utilities.css";
@import "./utils/variables.css";

/* Tailwind */
@import "./vendors/tailwind-out.min.css";

.bg-accent-blue {
  background-color: var(--accent-blue);
}

.font-primary-red {
  color: var(--primary-red);
}

.font-grayish-blue {
  color: var(--neutral-grayish-blue);
}

.bg {
  background-image: var(--bg-intro-desktop-path);
  background-color: var(--primary-red);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
