.center-item-full {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}

.flex-column {
  flex-direction: column;
}

.round-border {
  border-radius: 0.5em;
}
