.center-item-full {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}

.scale-up {
  transform: scale(1.3);
}

.mb-1-25em {
  margin-bottom: 1.25em;
}

.mb-05em {
  margin-bottom: 0.5em;
}

.min-x-lg {
  min-width: 42rem;
}

.transparent-gray-box-shadow {
  box-shadow: 0 0.5em hsl(0, 0%, 0%, 0.17);
}

.primary-red-border {
  border-width: 0.1em;
  border-color: var(--primary-red);
}

.white-border {
  border-width: 0.05em;
  border-color: hsl(0, 0%, 86%);
}
