@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --hover-faded-green: hsl(154, 65%, 68%);
  --primary-dark-green: hsl(155, 46%, 47%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
  --font-primary: "Poppins", sans-serif;
  --bg-intro-desktop-path: url("/images/bg-intro-desktop.png");
}
