@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
    /* Color Variable */
    --main-bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --main-heading-stats-color: hsl(0, 0%, 100%);
    --main-para-color: hsla(0, 0%, 100%, 0.75);
    --stat-headings-color: hsla(0, 0%, 100%, 0.6);
    --main-head-para-font: "Inter", sans-serif;
    --stat-para-font: "Lexend Deca", sans-serif;
    --border-radius-em: 0.5em;
    --max-widthHeight: 40em;
}
/* r */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

/* 1 */

main.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
    /* min-height: 10em; */
    max-width: 70em;
    margin: auto 11em;
}

/* 2 */

.left-div {
    grid-area: description;
    background-color: var(--card-bg-color);
    border-top-left-radius: var(--border-radius-em);
    border-bottom-left-radius: var(--border-radius-em);
    max-width: var(--max-widthHeight);
    padding: 4em 6em 4em 4em;
}

.right-div {
    background: url("/images/image-header-desktop.jpg") no-repeat;
    background-size: cover;
    max-width: var(--max-widthHeight);
    grid-area: image;
    border-top-right-radius: var(--border-radius-em);
    border-bottom-right-radius: var(--border-radius-em);
}

/* 3 */
.stats {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* 4 */

.purple-bg {
    background-color: var(--accent-color);
    border-top-right-radius: var(--border-radius-em);
    border-bottom-right-radius: var(--border-radius-em);
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

/* Text Decoration */
.main-heading,
.main-para,
.stats > div > h2 {
    font-family: var(--main-head-para-font);
}

.stats > div > p {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--stat-para-font);
    color: var(--stat-headings-color);
    margin-top: 0.5em;
}

.main-heading,
.stats > div > h2 {
    color: var(--main-heading-stats-color);
}

.main-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.main-para {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--main-para-color);
    margin-bottom: 4em;
}

.insights-text {
    color: var(--accent-color);
}
