@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-light-cyan: hsl(179, 47%, 52%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --primary-white: hsl(0, 0%, 100%);
    --bg-light-gray: hsl(204, 43%, 93%);
    --paragraphs-grayish-blue: hsl(218, 22%, 67%);
    --font-family: "Karla", sans-serif;
    --border-radious-em: 0.5em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--bg-light-gray);
}

.main-container {
    max-width: 40em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "article article"
        "subscript reasons";
    font-family: var(--font-family);
}

.article-div {
    grid-area: article;
    background-color: var(--primary-white);
    border-top-left-radius: var(--border-radious-em);
    border-top-right-radius: var(--border-radious-em);
}

.subscript-div {
    grid-area: subscript;
    background-color: var(--primary-cyan);
    border-bottom-left-radius: var(--border-radious-em);
}

.reason-div {
    grid-area: reasons;
    background-color: var(--primary-light-cyan);
    border-bottom-right-radius: var(--border-radious-em);
}

.article-div,
.subscript-div,
.reason-div {
    padding: 2.5em;
}

.price-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.para-main-30day,
.list-why {
    margin-top: 1em;
}

.price-div,
.signup-butt {
    margin-top: 2em;
}

.para-main-gainaccess,
.para-sub {
    margin-top: 0.6em;
}

/* ! Text */

.head-main {
    color: var(--primary-cyan);
}

.para-main-30day {
    color: var(--primary-bright-yellow);
}

.para-main-gainaccess {
    color: var(--paragraphs-grayish-blue);
    line-height: 1.7em;
}

.subscript-div,
.reason-div,
.signup-butt {
    color: var(--primary-white);
}

.head-main {
    font-size: 1.5rem;
    font-weight: 700;
}

.head-sub {
    font-size: 1.2rem;
    font-weight: 700;
}

.price-sub {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 0.5em;
}

.para-main-30day,
.para-main-gainaccess,
.para-sub,
.paraPrice-sub,
.list-why {
    font-size: 1rem;
    font-weight: 300;
}

.list-why {
    list-style: none;
    line-height: 1.5em;
}

/* End Text */

/* ! Button Link */

.signup-butt {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1em 0em;
    background-color: var(--primary-bright-yellow);
    border-radius: var(--border-radious-em);
    box-shadow: 0em 0em 0.8em var(--paragraphs-grayish-blue);
}

/*  End Butt */
