.input-box {
  display: block;
  border-radius: 0.5rem;
  border-width: 0.05em;
  border-color: gray;
  padding: 1em;
  width: 100%;
}

.input-box:focus,
.input-box:focus-visible {
  outline-width: thin;
  outline-color: var(--neutral-dark-blue);
}
