.input-box {
  display: block;
  border-radius: 0.5rem;
  width: 100%;
}

.input-box:focus,
.input-box:focus-visible {
  outline-color: var(--accent-blue);
}

.input-box::placeholder {
  /* padding: 1em; */
  color: var(--neutral-dark-blue);
  font-family: var(--font-primary);
  font-size: 400;
}

.warn-icon-bg {
  background: url("/images/icon-error.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}
